html, body, #root {
  min-height: 100%;
  margin: 0px;
}
code {
  padding: 2px;
  background-color: #DDD;
  border: 1px solid #888;
  border-radius: 6px;
}
@keyframes highlight {
  from {
    background-color: var(--highlight);
  }
  to {
    background-color: inherit;
  }
}
